body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 80px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

#coords-box {
  margin-top: 20px;
  font-size: 22px;
}
